FFHS DAS Data Science  
Semesterarbeit FS20  
Iwan Imsand

# Zusammenführung ```tripdata``` und ```weatherdata```

# Einleitung

In diesem Notebook werden die aufbereiteten Tripdaten mit den Wetterdaten zusammengeführt.

# Imports und Einstellung

In [1]:
import os
import pandas as pd

# Globale Variablen

Damit immer die gleichen Stichproben generiert werden, falls das Notebook wieder ausgeführt wird, wird hier ein SEED gesetzt. Dieser muss bei der Ausführung von ```sample()``` immer mitgegeben werden!

In [2]:
SEED=104210

Festlegung der Pfade aus welchem die Daten gelesen werden.

In [3]:
path_tripdata = './../data/citibike/tripdata'

In [4]:
path_weatherdata = './../data/openweathermap'

## Weatherdata

In [5]:
weatherdata = pd.read_parquet(os.path.join(path_weatherdata, 'openweathermap-weatherdata.parquet'))

In [6]:
weatherdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66751 entries, 328669 to 395419
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt_utc               66751 non-null  datetime64[ns, UTC]
 1   temp                 66751 non-null  float64
 2   pressure             66751 non-null  int64
 3   humidity             66751 non-null  int64
 4   wind_speed           66751 non-null  float64
 5   rain_1h              66751 non-null  float64
 6   snow_1h              66751 non-null  float64
 7   clouds_all           66751 non-null  int64
 8   weather_id           66751 non-null  int64
 9   weather_main         66751 non-null  object
 10  weather_description  66751 non-null  object
dtypes: datetime64[ns, UTC](1), float64(4), int64(4), object(2)
memory usage: 6.1+ MB

In [7]:
weatherdata.tail()

,dt_utc,temp,pressure,humidity,wind_speed,rain_1h,snow_1h,clouds_all,weather_id,weather_main,weather_description
395415,2020-05-05 19:00:00+00:00,15.30,1011,21,2.1,0.0,0.0,1,800,Clear,sky is clear
395416,2020-05-05 20:00:00+00:00,16.47,1010,18,2.6,0.0,0.0,1,800,Clear,sky is clear
395417,2020-05-05 21:00:00+00:00,17.03,1010,18,3.6,0.0,0.0,1,800,Clear,sky is clear
395418,2020-05-05 22:00:00+00:00,17.03,1010,18,2.1,0.0,0.0,1,800,Clear,sky is clear
395419,2020-05-05 23:00:00+00:00,16.36,1010,25,2.1,0.0,0.0,1,800,Clear,sky is clear

### Weatherdata daily

In [8]:
weatherdata_daily = pd.read_parquet(os.path.join(path_weatherdata, 'openweathermap-weatherdata-daily.parquet'))

In [9]:
weatherdata_daily.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2682 entries, 2013-01-01 to 2020-05-05
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temp mean          2682 non-null   float64
 1   temp std           2682 non-null   float64
 2   temp median        2682 non-null   float64
 3   temp min           2682 non-null   float64
 4   temp max           2682 non-null   float64
 5   humidity mean      2682 non-null   float64
 6   humidity std       2682 non-null   float64
 7   humidity median    2682 non-null   float64
 8   humidity min       2682 non-null   int64
 9   humidity max       2682 non-null   int64
 10  wind_speed mean    2682 non-null   float64
 11  wind_speed std     2682 non-null   float64
 12  wind_speed median  2682 non-null   float64
 13  wind_speed min     2682 non-null   float64
 14  wind_speed max     2682 non-null   float64
 15  rain_1h sum        2682 non-null   float64
 16  rain_1h min        2682 non-null   float64
 17  rain_1h max        2682 non-null   float64
 18  snow_1h sum        2682 non-null   float64
 19  snow_1h min        2682 non-null   float64
 20  snow_1h max        2682 non-null   float64
dtypes: float64(19), int64(2)
memory usage: 461.0 KB

In [10]:
weatherdata_daily.head()

,temp mean,temp std,temp median,temp min,temp max,humidity mean,humidity std,humidity median,humidity min,humidity max,...,wind_speed std,wind_speed median,wind_speed min,wind_speed max,rain_1h sum,rain_1h min,rain_1h max,snow_1h sum,snow_1h min,snow_1h max
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,3.684783,0.547356,3.730,2.04,4.45,56.173913,5.898013,59.0,45,64,...,0.940476,3.10,1.5,5.19,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-02,-1.867917,1.922008,-2.155,-4.61,1.12,48.541667,4.699483,48.5,40,56,...,1.092734,3.35,1.5,5.10,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-03,-1.497917,1.318955,-1.500,-3.52,0.62,54.250000,7.278617,54.0,42,65,...,0.707152,2.28,1.5,4.10,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-04,1.041667,1.350149,0.825,-0.48,3.04,53.458333,4.471933,52.0,47,60,...,1.648414,3.10,1.5,6.70,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-05,2.600000,2.099561,1.750,0.40,6.36,48.666667,5.096176,51.0,40,55,...,1.385354,3.35,1.5,6.20,0.0,0.0,0.0,0.0,0.0,0.0

## Tripdata Oktober 2019

In [11]:
tripdata = pd.read_parquet(os.path.join(path_tripdata, '201910-citibike-tripdata.parquet'))

In [12]:
tripdata.tail()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Linear Distance,Age 2020
2092568,729,2019-10-31 23:59:12-04:00,2019-11-01 00:11:21-04:00,237,E 11 St & 2 Ave,40.730473,-73.986724,311,Norfolk St & Broome St,40.717227,-73.988021,25725,Subscriber,1995,1,1.476904,25
2092569,645,2019-10-31 23:59:17-04:00,2019-11-01 00:10:02-04:00,3259,9 Ave & W 28 St,40.749370,-73.999234,461,E 20 St & 2 Ave,40.735877,-73.982050,39583,Customer,1969,0,2.084930,51
2092570,257,2019-10-31 23:59:22-04:00,2019-11-01 00:03:40-04:00,3798,W 40 St & 5 Ave,40.752269,-73.982079,505,6 Ave & W 33 St,40.749013,-73.988484,21240,Subscriber,1985,1,0.649767,35
2092571,466,2019-10-31 23:59:23-04:00,2019-11-01 00:07:09-04:00,328,Watts St & Greenwich St,40.724055,-74.009660,361,Allen St & Hester St,40.716059,-73.991908,34916,Subscriber,1989,0,1.740369,31
2092572,81,2019-10-31 23:59:51-04:00,2019-11-01 00:01:13-04:00,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3093,N 6 St & Bedford Ave,40.717452,-73.958509,25745,Subscriber,1990,1,0.275695,30

In [13]:
tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2092573 entries, 0 to 2092572
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Trip Duration            Int64
 1   Start Time               datetime64[ns, US/Eastern]
 2   Stop Time                datetime64[ns, US/Eastern]
 3   Start Station ID         Int64
 4   Start Station Name       object
 5   Start Station Latitude   float64
 6   Start Station Longitude  float64
 7   End Station ID           Int64
 8   End Station Name         object
 9   End Station Latitude     float64
 10  End Station Longitude    float64
 11  Bike ID                  Int64
 12  User Type                category
 13  Birth Year               Int64
 14  Gender                   category
 15  Linear Distance          float64
 16  Age 2020                 Int64
dtypes: Int64(6), category(2), datetime64[ns, US/Eastern](2), float64(5), object(2)
memory usage: 255.4+ MB

In [14]:
# Add utc time for merge
tripdata.insert(0, 'dt_utc', tripdata['Start Time'].dt.tz_convert('UTC'))

In [15]:
tripdata.head()

,dt_utc,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Linear Distance,Age 2020
0,2019-10-01 04:00:05+00:00,527,2019-10-01 00:00:05-04:00,2019-10-01 00:08:52-04:00,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1,1.555035,27
1,2019-10-01 04:00:15+00:00,174,2019-10-01 00:00:15-04:00,2019-10-01 00:03:10-04:00,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1,0.459195,28
2,2019-10-01 04:00:19+00:00,759,2019-10-01 00:00:19-04:00,2019-10-01 00:12:59-04:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,1,2.012348,25
3,2019-10-01 04:00:21+00:00,615,2019-10-01 00:00:21-04:00,2019-10-01 00:10:36-04:00,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,1,2.438568,28
4,2019-10-01 04:00:26+00:00,761,2019-10-01 00:00:26-04:00,2019-10-01 00:13:08-04:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,1,2.012348,28

### Zusammenführen

In [16]:
tripweather = pd.merge_asof(tripdata, weatherdata, on='dt_utc', direction='nearest')

In [17]:
tripweather.tail()

,dt_utc,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,...,temp,pressure,humidity,wind_speed,rain_1h,snow_1h,clouds_all,weather_id,weather_main,weather_description
2092568,2019-11-01 03:59:12+00:00,729,2019-10-31 23:59:12-04:00,2019-11-01 00:11:21-04:00,237,E 11 St & 2 Ave,40.730473,-73.986724,311,Norfolk St & Broome St,...,21.16,1000,86,16.07,0.28,0.0,100,500,Rain,light rain
2092569,2019-11-01 03:59:17+00:00,645,2019-10-31 23:59:17-04:00,2019-11-01 00:10:02-04:00,3259,9 Ave & W 28 St,40.749370,-73.999234,461,E 20 St & 2 Ave,...,21.16,1000,86,16.07,0.28,0.0,100,500,Rain,light rain
2092570,2019-11-01 03:59:22+00:00,257,2019-10-31 23:59:22-04:00,2019-11-01 00:03:40-04:00,3798,W 40 St & 5 Ave,40.752269,-73.982079,505,6 Ave & W 33 St,...,21.16,1000,86,16.07,0.28,0.0,100,500,Rain,light rain
2092571,2019-11-01 03:59:23+00:00,466,2019-10-31 23:59:23-04:00,2019-11-01 00:07:09-04:00,328,Watts St & Greenwich St,40.724055,-74.009660,361,Allen St & Hester St,...,21.16,1000,86,16.07,0.28,0.0,100,500,Rain,light rain
2092572,2019-11-01 03:59:51+00:00,81,2019-10-31 23:59:51-04:00,2019-11-01 00:01:13-04:00,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3093,N 6 St & Bedford Ave,...,21.16,1000,86,16.07,0.28,0.0,100,500,Rain,light rain

In [18]:
tripweather.iloc[-1]

dt_utc                          2019-11-01 03:59:51+00:00
Trip Duration                                          81
Start Time                      2019-10-31 23:59:51-04:00
Stop Time                       2019-11-01 00:01:13-04:00
Start Station ID                                      539
Start Station Name         Metropolitan Ave & Bedford Ave
Start Station Latitude                            40.7153
Start Station Longitude                          -73.9602
End Station ID                                       3093
End Station Name                     N 6 St & Bedford Ave
End Station Latitude                              40.7175
End Station Longitude                            -73.9585
Bike ID                                             25745
User Type                                      Subscriber
Birth Year                                           1990
Gender                                                  1
Linear Distance                                  0.275695
Age 2020                                               30
temp                                                21.16
pressure                                             1000
humidity                                               86
wind_speed                                          16.07
rain_1h                                              0.28
snow_1h                                                 0
clouds_all                                            100
weather_id                                            500
weather_main                                         Rain
weather_description                            light rain
Name: 2092572, dtype: object

### Export der Daten

In [19]:
tripweather.to_parquet(os.path.join(path_tripdata, '201910-citibike-tripweather-data.parquet'), index=None)

In [20]:
tripweather.to_csv(os.path.join(path_tripdata, '201910-citibike-tripweather-data.csv'), index=None)

### Export der Daten (Samples für Deployment mit wenig Memory)

In [21]:
for n in [1000, 5000, 10000, 25000, 50000, 100000]:
    tripweather_samples = tripweather.sample(n=n, random_state=SEED)
    tripweather_samples.to_parquet(os.path.join(path_tripdata, 'samples_{}_201910-citibike-tripweather-data.parquet'.format(n)), index=None)
    tripweather_samples.to_csv(os.path.join(path_tripdata, 'samples_{}_201910-citibike-tripweather-data.csv'.format(n)), index=None)

## Stichproben aus jedem Monat über alle Jahre

In [22]:
tripdata_samples_per_month = pd.read_parquet(os.path.join(path_tripdata, 'samples_per_month-citibike-tripdata.parquet'))

In [23]:
tripdata_samples_per_month.insert(0, 'dt_utc', tripdata_samples_per_month['Start Time'].dt.tz_convert('UTC'))

In [24]:
tripweather_samples_per_month = pd.merge_asof(tripdata_samples_per_month, weatherdata, on='dt_utc', direction='nearest')

In [25]:
tripweather_samples_per_month.to_parquet(os.path.join(path_tripdata, 'samples_per_month-citibike-tripweather.parquet'), index=None)

In [26]:
tripweather_samples_per_month.to_csv(os.path.join(path_tripdata, 'samples_per_month-citibike-tripweather.csv'), index=None)

## Stichproben aus jedem Tag über alle Jahre

In [27]:
tripdata_samples_per_day = pd.read_parquet(os.path.join(path_tripdata, 'samples_per_day-citibike-tripdata.parquet'))

In [28]:
tripdata_samples_per_day.insert(0, 'dt_utc', tripdata_samples_per_day['Start Time'].dt.tz_convert('UTC'))

In [29]:
tripweather_samples_per_day = pd.merge_asof(tripdata_samples_per_day, weatherdata, on='dt_utc', direction='nearest')

In [30]:
tripweather_samples_per_day.to_parquet(os.path.join(path_tripdata, 'samples_per_day-citibike-tripweather.parquet'), index=None)

In [31]:
tripweather_samples_per_day.to_csv(os.path.join(path_tripdata, 'samples_per_day-citibike-tripweather.csv'), index=None)

## Tägliche Zusammenfassung

In [32]:
tripdata_daily = pd.read_parquet(os.path.join(path_tripdata, 'summary-daily-subscribers_only-citibike-tripdata.parquet'))

In [33]:
tripweather_daily = pd.merge(tripdata_daily, weatherdata_daily, on='Date')

In [34]:
tripweather_daily.to_parquet(os.path.join(path_tripdata, 'summary-daily-subscribers_only-citibike-tripweather.parquet'), index=None)

In [35]:
tripweather_daily.to_csv(os.path.join(path_tripdata, 'summary-daily-subscribers_only-citibike-tripweather.csv'), index=None)

In [45]:
tripweather_daily['Trip count'].count()

2488

## Tägliche Zusammenfassung Gruppiert

In [46]:
tripdata_daily_grouped = pd.read_parquet(os.path.join(path_tripdata, 'summary-daily-subscribers_only-gender_grouped-citibike-tripdata.parquet'))

In [47]:
tripdata_daily_grouped = tripdata_daily_grouped.reset_index(['Gender'])

In [48]:
tripweather_daily_grouped = pd.merge(tripdata_daily_grouped, weatherdata_daily, on='Date')

In [49]:
tripweather_daily_grouped.to_parquet(os.path.join(path_tripdata, 'summary-daily-subscribers_only-gender_grouped-citibike-tripweather.parquet'), index=None)

In [50]:
tripweather_daily_grouped.to_csv(os.path.join(path_tripdata, 'summary-daily-subscribers_only-gender_grouped-citibike-tripweather.csv'), index=None)

In [52]:
tripweather_daily_grouped['Trip count'].count()

7277